html {
  scroll-behavior: smooth;
}

body {
    background-image: url("https://images.unsplash.com/photo-1635776062043-223faf322554?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2832&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #151515;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #151515;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}

button {
    padding: 15px 30px;
    font-size: 16px;
    margin-left: 40px;
    text-decoration: none;
    color: #151515;
    border: 1px solid #151515;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    border-radius: 70px;
    flex-shrink: 0;
}

h1, h2, h3, .latest .text-latest, label, input::placeholder, textarea::placeholder {
    font-family: 'Manrope', sans-serif;
    font-weight: 100;
}

.get-in-touch:hover, .section-work-view-more:hover {
    background: #151515;
    transition: 0.2s;
    color: white;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    margin: 70px;
    padding: 70px;
    background-color: white;
    align-items: stretch;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.page-wrapper hr {
    display: block;
    background: #cecece;
    border: 0;
    width: 100%;
    height: 1px;
    box-sizing: border-box;
    margin-top: 20px;
}

.logo {
    width: 120px;
    flex-shrink: 0;
}

.right-side {
    display: flex;
    align-items: center;
}

.right-side ul li::after {
    content: '';
    width: 0%;
    height: 1px;
    background: #151515;
    display: block;
    margin: 2px;
}

.right-side ul li:hover::after {
    width: 100%;
    transition: 0.5s;
}

.section-home h1 {
    text-align: left;
    font-size: 80px;
    max-width: 1000px;
}

.section-home span, .containers-about-us-text, .section-contact-container-text {
    display: block;
    font-size: 26px;
    font-weight: 200;
    max-width: 700px;
    padding-bottom: 30px;
    line-height: 1.5;
}

.our-services, .get-in-touch-services, .send-button {
    margin: 30px 0;
    color: white;
    background-color: #151515;
}

.our-services:hover, .get-in-touch-services:hover, .send-button:hover {
    background-color: #444444;
    border-color: #444444;
    transition: 0.2s;
}

@media (max-width: 1200px) {
    .containers {
        gap: 30px; 
    }

    .section-home h1 {
        font-size: 50px;
        max-width: 600px;
    }

    .section-home span {
        font-size: 25px;
        max-width: 500px;
    }
}

@media (max-width: 1000px) {
    .page-wrapper {
        margin: 20px;
        padding: 30px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    
    .hamburger .line {
        width: 30px;
        height: 2px;
        background: #151515;
        margin: 6px;
    }

    .right-side button {
        margin-right: 40px;
    }

    .right-side ul {
        z-index: 2;
        display: inline-flex;
        flex-direction: column;
        background: white;
        position: absolute;
        width: 100%;
        height: 250px;
        top: 100px;
        right: 0;
        text-align: center;
        padding-top: 30px;
        overflow: hidden;
        opacity: 0;
    }

    .nav-bar.active {
        opacity: 1;
        transition: 0.2s;
    }
}

.label {
    font-size: 16px;
}

.section-header {
    font-size: 45px;
}

.section-home, .section-about, .section-services, .section-work, .section-contact {
    padding-top: 40px;
    padding-bottom: 40px;
}

.containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.containers-first {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 80px;
}

.section-header-left-aligned, .section-contact-container-header {
    font-size: 45px;
}

.section-header-left-aligned, .containers-about-us-text {
    text-align: end;
    max-width: 555px;
}

.containers-first-two, .containers-second {
    display: flex;
    gap: 35px;
    padding-top: 40px;
}

.containers-second .container-about {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
}

.containers .interior-image-home {
    display: inline-block;
    width: 555px;
    height: 360px;
    object-fit: cover;
    object-position: 100% 0;
}

.containers-our-services {
    display: flex;
    justify-content: space-between;
}

.containers-about-us-text, .section-contact-container-text {
    max-width: 550px;
}

.container-about, .container-services-first {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    width: 180px;
    height: 300px;
    padding: 30px 40px;
    line-height: 1.7;
}

.container-services-first {
    background-color: #f1f6f5;
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
}

.container-text {
    color: #757575;
    font-family: 'Manrope', sans-serif;
}

.container-services {
    display: flex;
    flex-direction: column;
    width: 74%;
}

.interior-image-services {
    display: inline-block;
    width: 850px;
    height: 430px;
    object-fit: cover;
    object-position: 0 70%;
}

.container-services-first .get-in-touch-services, .send-button {
    margin-left: 0px;
    margin-top: 25px;
    font-size: 13px;
    padding: 10px 10px;
    width: 75%;
}

.container-services-step {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.container-services-step .container-text {
    width: 70%;
    line-height: 1.7;
    color: #151515;
}

.section-work-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-work-header-left {
    display: flex;
    gap: 30px;
    align-items: center;
}

.latest {
    border-radius: 50px;
    padding: 5px 20px;
    background-color: #fffae7;
    color: #151515;
}

.section-work-portfolio {
    display: flex;
    gap: 30px;
}

.interior-design-card {
    display: inline-block;
    background: black;
    padding: 0;
    position:relative
}

.interior-design-card img {
    width: 360px;
    height: 600px;
    object-fit: cover;
    object-position: center;
    display: block;

    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

.interior-design-card:hover img {
    opacity: 0.5;
    cursor: alias;
}

.interior-design-card span, .interior-design-card h2 {
    position: absolute;
    top: 270px;
    left: 40px;
    color:#fff;
    visibility: hidden;
}

.interior-design-card:hover span, .interior-design-card:hover h2 {
    visibility: visible;
    cursor: alias;

    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

.section-contact {
    background-color: #f1f5f9;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 50px 0px;
    margin: 50px 0 70px 0;
}

.section-contact-container-header, .section-contact-container-text {
    text-align: start;
    max-width: 450px;
}

.form-row {
    margin-top: 35px;
}
 
.form-hint {
    display: block;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.field {
    box-sizing: border-box;
    width: 400px;
    border: 1px solid #222222;
    padding: 15px 20px;
}

.form-row textarea {
    height: 100px;
}

.form-row .field {
    border: 1px solid #dedede;
}

.form-row .field:focus {
    outline: 1px solid #151515;
    border: 1px solid white;
    outline-offset: 0px;
    transition: 0.1ms;
}

input::placeholder, textarea::placeholder {
    letter-spacing: 1px;
}

.send-button {
    width: 25%;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer-upper {
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.credits .credits-inspiration {
    display: flex;
    color: #757575;
}

.credits-inspiration, .credits-inspiration a {
    font-size: 12px;
}

.credits-inspiration a::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #151515;
    display: block;
    margin: 1px;
}

.footer-nav, .footer-socials {
    display: flex;
    text-align: center;
    padding-top: 20px;
    position: relative;
    margin-right: 20px;
    margin-left: 40px;
    flex-wrap: wrap;
}

.footer-socials {
    font-size: 20px;
    gap: 40px;
}

.footer ul li::after {
    content: '';
    width: 0%;
    height: 1px;
    background: #151515;
    display: block;
    margin: 2px;
}

.footer ul li:hover::after {
    width: 100%;
    transition: 0.5s;
}

.footer-socials a {
    height: 40px;
    width: 40px;
    background-color: #f0f0f0;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5 ease;
}

.footer-socials a:hover {
    background-color: #dedede;
    transition: 0.5s;
}

@media (max-width: 700px) {
    .footer {
        width: 50%;
        margin-bottom: 30px;
        padding-right: 0px;
    }

}